body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #d9d9d9;
    text-align: left;
    margin: 0;
    padding: 20px;
}
.container {
    margin: auto;
}
h1 {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 0.8;
}
.button {
    margin: 20px 0;
}
.button button {
    padding: 10px 15px;
    border: 2px solid black;
    background: white;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 10px;
}
.content {
    margin-top: 30px;
    font-size: 1.2rem;
    position: relative;
}
.circle {
    position: absolute;
    top: 150px;
    left: 500px;
    border-top-left-radius: 30px;
    width: 45%;
    height: 70vh;
    border: 2px solid black;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0.3;
}
.list {
    position: absolute;
    font-size: 0.9rem;
    top: 1px;
    left: 630px;
}
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    .circle {
        width: 80%;
        height: 50vh;
    }
    list {
        width: 80%;
        height: 50vh;
        top: 1px;
    }
}
@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }
    .button button {
        padding: 8px 12px;
        font-size: 0.9rem;
    }
    .circle {
        width: 90%;
        height: 40vh;
    }
    .list {
        font-size: 0.8rem;
        width: 90%;
        height: 40vh;
        top: 1px;
    }
}